:root {
    --radius: .5rem;
    color-scheme: dark;
    --test: hsla(0, 0%, 93%, 0.171);
    --primary: 270, 70%, 57%;
    --ring: 270, 70%, 57%;
    --primary-light: 270, 45%, 80%;
    --primary-lighter: 270, 45%, 90%;
    --background: 270, 10%, 3%;
    --foreground: 270, 5%, 90%;
    --card: 270, 8%, 13%;
    --border: 270, 10%, 15%;
    --input: 270, 10%, 14%;
    --accent: 270, 12%, 20%;
    --accent-foreground: 270, 5%, 95%;
    --muted: 270, 10%, 9%;
    --muted-dark: 270, 10%, 6%;
    --muted-foreground: 270, 15%, 65%;
    --muted-foreground-neutral: 270, 5%, 65%;
    --tooltip-background: 270, 7%, 15%;
    --tooltip-foreground: 270, 10%, 85%;
    --backdrop: 0, 0%, 7.84%, 0.8;
}