:root {
    --a: hsl(280, 18%, 9%);
    --primary: 255, 0, 0;
    --background: 280, 16%, 3%;
    --foreground: 280, 5%, 90%;
    --card: 280, 10%, 6%;
    --border: 280, 10%, 20%;
    --accent: 280, 16%, 10%;
    --accent-foreground: 280, 5%, 90%;
    --muted: 280, 16%, 7%;
    --muted-foreground: 280, 5%, 90%;
}