:root {
    color-scheme: dark;
    --a: hsl(280, 80%, 47%);
    --primary: 280, 70%, 57%;
    --background: 280, 10%, 3%;
    --foreground: 280, 5%, 90%;
    --card: 280, 8%, 14%;
    --border: 280, 10%, 20%;
    --accent: 280, 12%, 18%;
    --accent-foreground: 280, 5%, 95%;
    --muted: 280, 10%, 6%;
    --muted-foreground: 280, 15%, 65%;
    --muted-foreground-neutral: 280, 5%, 65%;
    --tooltip-background: 280, 7%, 15%;
    --tooltip-foreground: 280, 10%, 85%;
}