<table #table class="table-auto rounded-t-xl border-collapse text-left w-full">
    <thead class="sticky top-0">
        <tr class="bg-card text-sm text-mutedForegroundNeutral whitespace-nowrap" @queryAnimations>
            @for (column of columns(); track $index) {    
                <th class="py-3 px-2 first:pl-3 last:pr-3 font-semibold select-none
                transition-colors" [interactiveElement]="column.sort !== 'unavailable'" [@popIn]="{ value: '', params: { duration: '400ms', width: 0 } }"
                [ngClass]="{'hover:text-accentForeground focus:text-accentForeground hover:cursor-pointer': column.sort !== 'unavailable',
                    'text-accentForeground': column.sort !== 'unavailable' && column.sort !== 'none',
                }"
                [attr.aria-sort]="column.sort !== 'unavailable' ? column.sort : null" (click)="column.sort !== 'unavailable' ? sort(column) : null">
                    <div class="flex items-center gap-1">
                        <!-- column label -->
                        <span>{{column.label}}</span>
                        <!-- sort icon -->
                        @if (column.sort !== 'unavailable' && column.sort !== 'none') {
                            <i class="fi fi-rr-caret-down flex transition-transform duration-300" 
                            [ngClass]="{'rotate-180': column.sort === 'ascending'}" 
                            [@popIn]="{ value: '', params: { duration: '200ms', width: 0, transform: 'scale(0) translateX(-40px)'}}"></i>
                        }
                    </div>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of displayedRows(); track $index) {
            <tr class="border-b border-border last:border-b-0">
                @for (column of columns(); track $index) {
                    <td class="py-3 px-2 first:pl-3 last:pr-3 max-w" @queryAnimations> 
                        <!-- data of row -->
                        @if (column.useTemplate && templateMap[column.property]) {
                            @if(loadingData() === true || firstLoad()) {
                                <!-- skeleton span -->
                                <span class="inline-block animate-pulse bg-muted text-muted rounded-md min-w-28 min-h-7" [@popIn]="{ value: '', params: { duration: '400ms', width: 0 } }">
                                    A
                                </span>
                            } @else {
                                 <!-- render the custom template -->
                                 <ng-container [@popIn]="{ value: '', params: { duration: '400ms', width: 0 } }"
                                    *ngTemplateOutlet="templateMap[column.property]; context: { $implicit: row[column.property] }"
                                 ></ng-container>
                             }
                            
                        }@else {
                            <!-- render the default template -->
                            <div class="flex items-center gap-1">
                                <!-- skeleton -->
                                @if (loadingData() === true || firstLoad()) {
                                    <span class="inline-block animate-pulse bg-muted text-muted rounded-md min-h-7"
                                    [ngClass]="column.truncate || column.isTimestamp ? 'min-w-28' : 'min-w-44'" [@popIn]="{ value: '', params: { duration: '400ms', width: 0 } }"> <!-- smaller width when element data is truncated or a timestamp -->
                                        A
                                    </span>
                                    <span *ngIf="column.copyToClipboard" class="inline-block animate-pulse bg-muted text-muted rounded-md min-w-6 min-h-7" [@popIn]="{ value: '', params: { duration: '400ms', width: 0 } }">
                                        A
                                    </span>
                                }@else {
                                    @if(column.href) {
                                        <!-- common span -->
                                            <a class="gb_a px-1 rounded border border-dashed transition-all whitespace-nowrap min-h-7" [@popIn]="{ value: '', params: { duration: '400ms', width: 0 } }" 
                                            [href]="column.href(row[column.property]) || null" [target]="column.hrefTarget || '_self'" rel="noopener noreferrer"
                                            [matTooltip]="column.truncate ? row[column.property] : null"
                                            [ngClass]="highlightedData() == row[column.property] && column.highlighData ? 'border-primary/50 bg-primary/15' : 'border-transparent'"
                                            (mouseenter)="setHighlightData(row[column.property])"
                                            (mouseleave)="clearHighlightData()">
                                            @if(column.truncate){
                                                <!-- truncate the string to middle format or end format, end format receives a length value on column.truncate[0] -->
                                                    {{column.truncate === 'middle' ? (row[column.property] | truncate) : (row[column.property] | truncate:column.truncate[0]:column.truncate[1])}}
                                            }@else {
                                                    <!-- returns raw data -->
                                                    {{row[column.property]}}
                                                }
                                            </a>
                                        }@else {
                                            <!-- anchor link -->
                                            <span class="px-1 rounded border border-dashed transition-all whitespace-nowrap min-h-7" [@popIn]="{ value: '', params: { duration: '400ms', width: 0 } }"
                                            [matTooltip]="column.truncate ? row[column.property] : (column.isTimestamp ? (row[column.property] | dateFormat) : null)"
                                            [ngClass]="highlightedData() == row[column.property] && column.highlighData ? 'border-primary/50 bg-primary/15' : 'border-transparent'"
                                            (mouseenter)="setHighlightData(row[column.property])"
                                            (mouseleave)="clearHighlightData()">
                                            @if(column.truncate){
                                                <!-- truncate the string to middle format or end format, end format receives a length value on column.truncate[0] -->
                                                    {{ column.truncate === 'middle' ? (row[column.property] | truncate) : (row[column.property] | truncate:column.truncate[0]:column.truncate[1]) }}
                                            }@else if(column.isTimestamp) {
                                                    <!-- timestamp formated -->
                                                    {{row[column.property] | timeAgo: updatedTime() }}
                                            }@else {
                                                    <!-- returns raw data -->
                                                    {{ row[column.property] }}
                                                }
                                            </span>
                                        }
                                        <!-- copy to clipboard icon -->
                                    @if(column.copyToClipboard === true) {
                                        <button copy-to-clipboard [value]="row[column.property]" [@popIn]="{ value: '', params: { duration: '400ms', width: 0 } }"></button>
                                    }
                                }
                            </div>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
