.lp-header {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background-color: hsla(var(--primary), 1);
        box-shadow: 0 0 200px 80px hsla(var(--primary), 0.8);
        pointer-events: none;
        z-index: -1;
        // opacity: 0.8;
    }
}