.lp-header {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background-color: hsla(var(--primary), 1);
        box-shadow: 0 0 200px 80px hsla(var(--primary), 0.6);
        pointer-events: none;
        z-index: -1;
        // opacity: 0.8;
    }
}

.lp-faq {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: min(70%, 250px);
        left: 0;
        width: 0;
        height: 0;
        border-radius: 50%;
        box-shadow: 0 0 250px 80px hsla(var(--primary), 0.4);
        pointer-events: none;
        z-index: -1;
    }
}
.filter-primary {
    filter: invert(30%) sepia(80%) saturate(500%) hue-rotate(265deg) brightness(100%) contrast(105%);
}

::ng-deep cards-section {
    @media screen and (max-width: 640px) {
        .cards-grid {
            grid-template-columns: 1fr;
        }
    }
}