<div class="text-xl">
    <h1>BeraPools</h1>
</div>
<nav class="hidden md:block">
    <ul class="flex gap-6 items-center justify-center font-medium text-neutral-200">
        <li class="hover:text-white transition-colors"><a href="">Dashboard</a></li>
        <li class="hover:text-white transition-colors"><a href="">Pools</a></li>
        <li class="hover:text-white transition-colors"><a href="">Analytics</a></li>
        <li class="hover:text-white transition-colors"><a href="">FAQ</a></li>
    </ul>
</nav>
<button class="flex py-2 px-4 items-center gap-2 border border-border rounded-dft min-w-fit text-sm transition-colors
hover:bg-accent/10 hover:text-white hover:border-accent"
(click)="openWalletConnectModal()">
    <i class="fi fi-rr-wallet flex"></i>
    <span>Connect Wallet</span>
</button>
