<!-- <div class="flex flex-col h-screen bg-mutedDark text-foreground"> host element -->
    <span class="layout-border"
    [ngClass]="{ 
        'layout-border--expanded': !isCollapsed && !smallScreen,
        'layout-border--small-screen': smallScreen,
        'layout-border--small-screen--expanded': !isCollapsed && smallScreen,
        }"></span>
    <top-bar/>
    @if (smallScreen === true && isCollapsed === true) {
        <!-- it will not display sidebar -->
    } @else {
        <sidebar
        [sidebarSections]="sidebarSections()" @queryAnimationSidebar/>
    }

    
    <!-- page -->
    <div class="flex-1 transition-all duration-300
    bg-background overflow-visible mt-16"
    [ngClass]="{
        'ml-64' : !smallScreen && !isCollapsed,
        'ml-16' : !smallScreen && isCollapsed,
    }">
        <ng-content></ng-content>
    </div>
    <!-- /page -->
<!-- </div> -->