<div class="paginator">
    <button class="paginator__prev" (click)="this.currentPage() < 10 ? onPreviousPage() : selectPage(1)"
    [disabled]="currentPage() === 1">
        @if(this.currentPage() < 10) {
            <i class="fi fi-rr-angle-small-left"></i>
        } @else {
            <i class="fi fi-rr-angle-double-small-left"></i>
        }
    </button>
    <button class="paginator__item"
    [ngClass]="{ 'paginator__item--active': firstButtonValue === currentPage() }"
    (click)="onPageSelected(firstButtonValue)">
        {{ firstButtonValue }}
    </button>
    <button class="paginator__item" [disabled]="secondButtonValue > limit()"
    [ngClass]="{ 'paginator__item--active': secondButtonValue === currentPage() }"
    (click)="onPageSelected(secondButtonValue)">
        {{ secondButtonValue }}
    </button>
    <button class="paginator__item" [disabled]="thirdButtonValue > limit()"
    [ngClass]="{ 'paginator__item--active': thirdButtonValue === currentPage() }"
    (click)="onPageSelected(thirdButtonValue)">
        {{ thirdButtonValue }}
    </button>
    <button class="paginator__item paginator__item--selector" (click)="togglePageSelector()"
    [ngClass]="{ 'paginator__item--active': this.showPageSelector === true}"
    [disabled]="limit() <= 3">
        <i class="fi fi-rr-search flex justify-self-center"></i>
    </button>
    <button class="paginator__item"
    [ngClass]="{ 'paginator__item--active': limit() === currentPage() }"
    (click)="onPageSelected(limit())">
        {{ limit() }}
    </button>
    <button class="paginator__next" (click)="onNextPage()"
    [disabled]="currentPage() === limit()">
        <i class="fi fi-rr-angle-small-right"></i>
    </button>
</div>

@if (showPageSelector) {
    <div #pageSelector class="select" [@popIn]="{ value: '', params: { duration: '300ms', width: 0, transform: 'translateY(-100%) scale(0.1)' } }">
        <div class="select__header">
            <h2>Select Page:</h2>
            <input #pageSelectorInput type="tel" [placeholder]="1 + '-' + limit()" mask="0000"
            [(ngModel)]="pageSelectorInputValue"
            (input)="onPageSelectorInputChange(pageSelectorInput.value, pageSelectorInput)"
            (keydown.enter)="onSelectSpecificPage(pageSelectorInput.value)">
            <button (click)="onSelectSpecificPage(pageSelectorInput.value)">
                <i class="fi fi-br-angle-small-right flex"></i>
            </button>
        </div>
    </div>
}