<div class="flex gap-1 mb-2">
    @if(tableList().length > 1) {
        @for (item of tableList(); track $index) {
            <button class="py-1 px-3 rounded-md font-medium transition-colors
            hover:bg-accent hover:text-accentForeground"
            [ngClass]="item.active ? 'text-accentForeground' : 'text-mutedForeground'"
            (click)="activateItem(item)">
            {{item.label}}
            </button>
        }
    }
</div>
<!-- inner div -->
<div class="bg-card rounded-t-dft p-3 flex justify-between items-center flex-wrap gap-2">
    <h1 class="text-lg font-semibold text-mutedForeground text-nowrap">{{ currentTable()?.title }}</h1>
    <paginator 
        [limit]="currentTable()?.page?.totalPages || 0"
        [initialPageIndex]="currentTable()?.page?.currentPage || 0"
        [disabled]="loadingTable()"
        (getCurrentPage)="onPageSelected($event)"
    ></paginator>
</div>
<data-table [columns]="currentTable()?.dataTableColumns" [rows]="currentTable()?.dataTableRow" [limit]="limit()" [parentTemplates]="templates">
</data-table>