@use './app/styles/_themes.scss';
@use './app/styles/global-styles.scss';
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;


.page-container {
  padding: 2.5rem;
}

.landing-page-container {
  width: min(1200px, calc(100% - 4rem));
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    width: calc(100% - 2rem);
  }
}
// html, body { height: 100%; }
body { 
  margin: 0; 
  background-color: hsla(var(--background));
}

:root {
    @include mat.tooltip-overrides((
      container-color: hsl(var(--tooltip-background)),
      supporting-text-color: hsl(var(--tooltip-foreground)),
    ));
  }