<!-- <div class="input-wrapper"> -->
        <input
        #input
        [disabled]="disabled()"
        [value]="value()" [id]="id()"
        (input)="onInput($event)"
        [type]="passwordVisible() ? 'text' : type()"
        [ngClass]="{'error': isInvalid()}"
        [placeholder]="placeholder()"
        [mask]="mask()" [prefix]="prefix()" [suffix]="suffix()"
        [attr.maxLength]="maxLength() ? maxLength() : null"
        [attr.aria-label]="ariaLabel() || placeholder()" [attr.aria-labelledby]="ariaLabelledby()"
        [attr.aria-invalid]="isInvalid()"
        [attr.aria-describedby]="inputErrorId" [attr.aria-required]="ariaRequired()"
        />

         <!-- placeholder-title -->
         <span [ngClass]="{'filled': input.value.length > 0}"
          class="placeholder-title"
          >
         {{title()}}
         </span>

         <!-- right info -->
          @if (rightInfo()) {
                <div class="right-info">
                    <ng-content select="[right-info]"></ng-content>
                </div>
          }
    
         <!-- show password icon -->
         @if(!hideShowPassword() && type() === "password"){
             <button type="button" class="show-password-btn" (click)="togglePasswordVisibility()">
                @if(passwordVisible()){
                    <i class="fi fi-br-eye-crossed"></i>
                }@else{
                    <i class="fi fi-br-eye"></i>
                }
            </button>
         }
         <!-- text description on error  -->
         @if(isInvalid()){
             <div @fadeInOut class="invalid" aria-live="assertive" [id]="inputErrorId">
                <ng-content select="[invalid]"></ng-content>
             </div>
         }
<!-- </div> -->